@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}

[x-cloak] {
    display: none;
}

.bg-radial-gradient {
    background-image: radial-gradient(ellipse 80% 80% at 10% -20%, rgba(120, 119, 120, 0.3), rgba(120, 120, 120, 0.1));
  }

.text-gradient {
    background-image: linear-gradient(to right, #c026d3, #db2777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
